body {
  height: 100vh;
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.alt-container {
  width: 100%;
  height: 300px;
}

.alt-container .grass{
  background-image: url("./images/grass.png");
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
}
.alt-container .trees{
  background-image: url("./images/trees.png");
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
}
.alt-container .mountains{
  background-image: url("./images/mountains.png");
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
}
